.footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    background-color: rgba(244, 235, 214, 0.6);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    box-shadow: 0px 0px 10px #888888;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (max-width: 360px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer_first_p {
        margin-bottom: 10px;   
    }
}

@media screen and (max-width: 275px) {
    .footer {
        font-size: 13px;
    }
}