.cart_main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0 15px 0 40px;
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
    min-height: 588px;
}

.cart_prods_div {
    font-size: 14px;
    color: rgb(48, 43, 32);
    width: 68%;
}

.cart_products {
    height: 100%;
}

.cart_prods_div h1 {
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(151, 135, 95);
}

.cart_main button {
    width: 190px;
}

.cart_prods_extra_buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
}

.cart_prods_extra_buttons button {
    display: flex;
    align-items: center;
}

.cart_prods_extra_buttons img {
    cursor: pointer;
    width: 40px;
}

.cart_prod {
    border-bottom: 1px solid rgb(134, 111, 68);
    padding: 20px 0;
}

.cart_prods_arrow {
    max-width: 19px;
    margin-right: 5px;
}

.cart_summary {
    background-color: rgba(255, 247, 227, 0.26);
    padding: 25px;
    margin-top: -25px;
    max-height: 555px;
    position: fixed;
    right: 40px;
}

.cart_summary h2 {
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(151, 135, 95);
    font-size: 22px;
}

.cart_total {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.cart_prods_total {
    color: rgb(134, 110, 62);
}

.cart_summary form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cart_summary_input,
.cart_summary_input_empty {
    background-color: rgba(243, 241, 240, 0.466);
    border: 1px solid rgba(243, 241, 240, 0.466);
    padding: 14px;
    margin-top: 15px;
    width: 418px;
    outline: none;
    border-radius: 3px;
    font-size: 15px;
    transition: 0.2s;
}

.cart_summary_input_empty {
    border: 1px solid rgb(247, 98, 98);
}

.cart_summary_input:focus,
.cart_summary_input_empty:focus {
    transition: 0.2s;
    box-shadow: 0px 2px 5px #888888;
}

.cart_buttons_div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart_buttons {
    margin: 30px 0;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart_buttons_logged {
    padding: 0 30px;
}

.cart_buttons button {
    width: 150px;
}

.cart_prods_buy {
    min-height: 45px;
}

.cart_prods_buy_complete,
.cart_prods_buy_empty,
.cart_prods_buy_error {
    border-radius: 4px;
    width: 140px;
    height: 45px;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart_prods_buy_complete {
    background-color: #d7f8d77c;
    color: #2a5f2a;
}

.cart_prods_buy_empty {
    background-color: #fffeb485;
    color: #3f3e16ad;
}

.cart_prods_buy_error {
    background-color: #ffeff1;
    color: #8b3535;
}

@media screen and (max-width: 1720px) {
    .cart_main {
        padding: 0;
    }

    .cart_summary {
        position: relative;
        margin: 50px 0;
        right: 0;
    }

    .cart_products {
        min-height: 50px;
    }

    .cart_main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .cart_prods_title {
        max-width: 500px
    }
}

@media screen and (max-width: 1425px) {
    .cart_prods_title {
        max-width: 350px
    }
}

@media screen and (max-width: 1165px) {
    .cart_prods_title {
        max-width: 200px
    }
}

@media screen and (max-width: 965px) {
    .cart_products {
        margin-top: 50px;
    }

    .cart_prod {
        flex-direction: column;
        align-items: cente;
    }

    .cart_prods_title {
        max-width: 400px;
    }
}

@media screen and (max-width: 740px) {
    .cart_prods_title {
        max-width: 255px;
    }
}

@media screen and (max-width: 525px) {
    .cart_prod_info {
        flex-direction: column;
    }

    .cart_buttons {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 540px) {
    .cart_summary {
        width: 80%;
    }

    .cart_summary input {
        width: 100%;
    }

    .cart_buttons {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 490px) {

    .cart_main,
    .cart_prod_img,
    .cart_products {
        width: 100%;
    }

    .cart_prods_extra_buttons {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 430px) {
    .cart_buttons {
        display: flex;
        flex-direction: column;
    }

    .cart_buttons button {
        margin: 12px 0;
    }

    .cart_summary {
        height: 550px;
        padding-bottom: 50px;
    }

    .unlogged_checkout {
        margin-top: 100px;
    }
}