.not_found {
    width: 100vw;
    height: 100vh;
    background-color: rgb(220, 222, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not_found img {
    height: 100vh;
    position: relative;
    object-fit: contain;
}

.not_found h2 {
    position: absolute;
    bottom: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(82, 87, 92);
}

@media screen and (max-width: 804px) {

    .not_found,
    .not_found img,
    .not_found h2 {
        width: 100%;
        text-align: center;
    }
}


@media screen and (max-width: 425px) {
    .not_found h2 {
        font-size: 20px;
    }
}